body{font-family: 'Poppins', sans-serif!important;font-weight: 400;font-size: 14px;color: #888;}
h1, h2, h3, h4, h5 {color: #000;}
input, textarea, select {font-family: 'Poppins',sans-serif;border: 1px solid #dfdfdf;letter-spacing: 1px;font-size: 12px;padding: 8px 15px;width: 100%;margin: 0 0 20px 0;max-width: 100%;resize: none;}
.section .heading {
    font-size: 40px;
    font-weight: 700;
}
.content .date {
    color: #999;
    font-size: 13px;
}
.content .heading a, .content .heading a:hover {
    color: #222;
    text-decoration: none;
}
a{text-decoration: none!important;}
a .text strong{color: #000;}
a:hover .text strong{color: #000;text-decoration: none;}
.small-post-entry .heading{font-size: 18px;}